body{
    background-color: goldenrod;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu {
    background-color: aqua;
    ul{
        border-style: solid;
        li{
            font-size: 1.2 rem;
        }
    }
  
}